
/** Moves the Assigned text field to new line since 
*	 	the layout gets messy with the new button.
**/
#edit-assigned-wrapper {
	display: block;
}

div.node-form div.support-fields {
	display: block;
}